# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/

# VS Code
.vscode/

# PyCharm
.idea/

# Distribution / packaging
build/
dist/
*.egg-info/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache/

# Jupyter Notebook
.ipynb_checkpoints/

# Operating System Files
.DS_Store
Thumbs.db

# Audio Files (optional)
*.wav

# Environment Variables
.env
